[include]
	path = ~/.gitconfig.local
[commit]
	gpgsign = true
	verbose = true
[init]
	defaultbranch = main
[core]
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore
[interactive]
	difffilter = delta --color-only
[push]
	autosetupremote = true
[pull]
	rebase = true
[rebase]
	autosquash = true
	autostash = true
[merge]
	conflictstyle = diff3
[diff]
	algorithm = histogram
[rerere]
	enabled = true
[help]
	autocorrect = prompt
[branch]
	sort = -committerdate
